*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#wrapper{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 100px;
    align-items: center;
    background-color: teal;
}
.logo{
    font-weight: bold;
    font-size: 30px;
}
.navbar{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.navbar a {
    display: inline-block;
    text-decoration: none;
    color: tomato;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s;
}
.navbar button{
padding: 5px 12px;
outline: 0;
border: 0;
transition: 0.5s;
}
.navbar button i{
    margin-right: 5px;
}
.navbar button:hover{
    background-color: tomato;
}
.navbar a:hover,.navbar a.active{
   color: goldenrod;
}
/* routerview */
.routerview{
    padding: 10px 100px;
}